node_modules
.pnpm-store
.turbo
dist
coverage
.next
.env
.env.*
!.env.example
*.log
.DS_Store
.idea
.vscode
apps/mobile/.dart_tool
apps/mobile/build
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/android/.gradle
apps/mobile/ios/Pods
